<!-- Navigation -->
  <nav class="navbar navbar-default navbar-static-top m-b-0">
    <div class="navbar-header"> <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
      <div class="top-left-part"><a class="logo" href="index.html"><b><!--This is dark logo icon--><img src="../plugins/images/eliteadmin-logo.png" alt="home" class="dark-logo" /><!--This is light logo icon--><img src="../plugins/images/eliteadmin-logo-dark.png" alt="home" class="light-logo" /></b><span class="hidden-xs"><!--This is dark logo text--><img src="../plugins/images/eliteadmin-text.png" alt="home" class="dark-logo" /><!--This is light logo text--><img src="../plugins/images/eliteadmin-text-dark.png" alt="home" class="light-logo" /></span></a></div>
      <ul class="nav navbar-top-links navbar-left hidden-xs">
        <li><a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light"><i class="icon-arrow-left-circle ti-menu"></i></a></li>
        <li>
          <form role="search" class="app-search hidden-xs">
            <input type="text" placeholder="Search..." class="form-control">
            <a href=""><i class="fa fa-search"></i></a>
          </form>
        </li>
      </ul>
      <ul class="nav navbar-top-links navbar-right pull-right">
        <!-- /.dropdown -->
        <!-- .Megamenu -->
        <li class="mega-dropdown">
          <a class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#"><span class="hidden-xs">Mega</span> <i class="icon-options-vertical"></i></a>
          <ul class="dropdown-menu mega-dropdown-menu animated bounceInDown">
            <li class="col-sm-3">
              <ul>
                <li class="dropdown-header">Forms Elements</li>
                <li><a href="../../../public/admin/form-basic.html">Basic Forms</a></li>
                <li><a href="../../../public/admin/form-layout.html">Form Layout</a></li>
                <li><a href="../../../public/admin/form-advanced.html">Form Addons</a></li>
                <li><a href="../../../public/admin/form-material-elements.html">Form Material</a></li>
                <li><a href="../../../public/admin/form-float-input.html">Form Float Input</a></li>
                <li><a href="../../../public/admin/form-upload.html">File Upload</a></li>
                <li><a href="../../../public/admin/form-mask.html">Form Mask</a></li>
                <li><a href="../../../public/admin/form-img-cropper.html">Image Cropping</a></li>
                <li><a href="../../../public/admin/form-validation.html">Form Validation</a></li>
              </ul>
            </li>
            <li class="col-sm-3">
              <ul>
                <li class="dropdown-header">Advance Forms</li>
                <li><a href="../../../public/admin/form-dropzone.html">File Dropzone</a></li>
                <li><a href="../../../public/admin/form-pickers.html">Form-pickers</a></li>
                <li><a href="../../../public/admin/icheck-control.html">Icheck Form Controls</a></li>
                <li><a href="../../../public/admin/form-wizard.html">Form-wizards</a></li>
                <li><a href="../../../public/admin/form-typehead.html">Typehead</a></li>
                <li><a href="../../../public/admin/form-xeditable.html">X-editable</a></li>
                <li><a href="../../../public/admin/form-summernote.html">Summernote</a></li>
                <li><a href="../../../public/admin/form-bootstrap-wysihtml5.html">Bootstrap wysihtml5</a></li>
                <li><a href="../../../public/admin/form-tinymce-wysihtml5.html">Tinymce wysihtml5</a></li>
              </ul>
            </li>
            <li class="col-sm-3">
              <ul>
                <li class="dropdown-header">Table Example</li>
                <li><a href="../../../public/admin/basic-table.html">Basic Tables</a></li>
                <li><a href="../../../public/admin/table-layouts.html">Table Layouts</a></li>
                <li><a href="../../../public/admin/data-table.html">Data Table</a></li>
                <li class="hidden"><a href="crud-table.html">Crud Table</a></li>
                <li><a href="../../../public/admin/bootstrap-tables.html">Bootstrap Tables</a></li>
                <li><a href="../../../public/admin/responsive-tables.html">Responsive Tables</a></li>
                <li><a href="../../../public/admin/editable-tables.html">Editable Tables</a></li>
                <li><a href="../../../public/admin/foo-tables.html">FooTables</a></li>
                <li><a href="../../../public/admin/jsgrid.html">JsGrid Tables</a></li>
              </ul>
            </li>
            <li class="col-sm-3">
              <ul>
                <li class="dropdown-header">Charts</li>
                <li> <a href="../../../public/admin/flot.html">Flot Charts</a> </li>
                <li><a href="../../../public/admin/morris-chart.html">Morris Chart</a></li>
                <li><a href="../../../public/admin/chart-js.html">Chart-js</a></li>
                <li><a href="../../../public/admin/peity-chart.html">Peity Charts</a></li>
                <li><a href="../../../public/admin/knob-chart.html">Knob Charts</a></li>
                <li><a href="../../../public/admin/sparkline-chart.html">Sparkline charts</a></li>
                <li><a href="../../../public/admin/extra-charts.html">Extra Charts</a></li>
              </ul>
            </li>
            <li class="col-sm-12 m-t-40 demo-box">
              <div class="row">
                <div class="col-sm-2">
                  <div class="white-box text-center bg-purple"><a href="../eliteadmin-inverse/index.html" target="_blank" class="text-white"><i class="linea-icon linea-basic fa-fw" data-icon="v"></i><br/>Demo 1</a></div>
                </div>
                <div class="col-sm-2">
                  <div class="white-box text-center bg-success"><a href="../eliteadmin/index.html" target="_blank" class="text-white"><i class="linea-icon linea-basic fa-fw" data-icon="v"></i><br/>Demo 2</a></div>
                </div>
                <div class="col-sm-2">
                  <div class="white-box text-center bg-info"><a href="../eliteadmin-ecommerce/index.html" target="_blank" class="text-white"><i class="linea-icon linea-basic fa-fw" data-icon="v"></i><br/>Demo 3</a></div>
                </div>
                <div class="col-sm-2">
                  <div class="white-box text-center bg-inverse"><a href="../eliteadmin-horizontal-navbar/index3.html" target="_blank" class="text-white"><i class="linea-icon linea-basic fa-fw" data-icon="v"></i><br/>Demo 4</a></div>
                </div>
                <div class="col-sm-2">
                  <div class="white-box text-center bg-warning"><a href="../eliteadmin-iconbar/index4.html" target="_blank" class="text-white"><i class="linea-icon linea-basic fa-fw" data-icon="v"></i><br/>Demo 5</a></div>
                </div>
                <div class="col-sm-2">
                  <div class="white-box text-center bg-danger"><a href="https://themeforest.net/item/elite-admin-responsive-web-app-kit-/16750820" target="_blank" class="text-white"><i class="linea-icon linea-ecommerce fa-fw" data-icon="d"></i><br/>Buy Now</a></div>
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-header -->
    <!-- /.navbar-top-links -->
    <!-- /.navbar-static-side -->
  </nav>